/*

https://nightdev.com/kapchat
https://nightdev.com/hosted/obschat/?theme=&channel=sas41&fade=60&bot_activity=false&prevent_clipping=true

*/
:root
{
  --main-bg-color: rgba(0, 0, 0, 0.33);
  --text-color: rgb(255, 255, 255);
}

body
{
}

#chat_box
{
  color: var(--text-color) !important;
  background-color: var(--main-bg-color) !important;
  font-size: 2em;
  bottom: 0;
}

.chat_line
{
  line-height: unset;
}

.time_stamp
{
  display: inline-blockblock;
  margin-right: 0.5em;
}

.tag
{
  display: inline-block;
  margin-bottom: 3px;
  top: 0;
  width: 1em;
  height: auto;
}