/*
Designed for the following parameters:

Persistent Tags:
?icon=true&online=true&logo=white&text_color=%23ffffff&text_size=24&text_outline_color=%23000000&text_outline_size=0&text_shadow_color=%23000000&text_shadow_size=50&bg_color=%238a0303&bg_opacity=0.95&bg_shadow_color=%23000000&bg_shadow_size=10&invite_code=&small_avatars=false&hide_names=false&fade_chat=0&limit_speaking=false

Voice Activated Tags:
?icon=true&online=true&logo=white&text_color=%23ffffff&text_size=24&text_outline_color=%23000000&text_outline_size=0&text_shadow_color=%23000000&text_shadow_size=50&bg_color=%238a0303&bg_opacity=0.95&bg_shadow_color=%23000000&bg_shadow_size=10&invite_code=&small_avatars=false&hide_names=false&fade_chat=0&limit_speaking=true
*/

:root
{
	--main-bg-color: rgba(0, 0, 0, 0.8);
}

body
{
	background-color: var(--main-bg-color) !important;
	margin: 5% auto !important;
	overflow: hidden !important;
}

.user, .voice-states, .voice-container, #app-mount>div
{
	display: inline-block !important;
	width: auto !important;
}

 #app-mount>div
{
	text-align: center;
	width: auto;
	display: block !important;
	margin: auto !important;
}

.avatar
{
	filter: brightness(0.25);
	transition: filter 0.5s;
}

.avatar + .user
{
	filter: brightness(0.25);
	transition: filter 0.5s;
}

.avatar.speaking
{
	filter: brightness(1);
	transition: filter 0.5s;
}

.avatar.speaking + .user
{
	filter: brightness(1);
	transition: filter 0.5s;
}
